.layouts-navbar {
    height: 10vh;
    padding-top: 10px;
}

.layouts-navbar li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layouts-navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.layouts-navbar .home-link {
    flex: 4
}


.layouts-navbar .sign_in_button{
   margin-left: 15px;
}