.layouts-navbar {
    height: 10vh;

}

.layouts-navbar li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.layouts-navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.layouts-navbar .home-link {
    flex: 4
}


.layouts-navbar .session-links > * {
    text-align: right;
    margin-left: 1rem;
    border: 1px solid skyblue;
    padding: 10px;
    border-radius: 10px;
}

.layouts-navbar .session-links > *:hover {
    background-color: skyblue;
    color: black;
}