<nav class="layouts-navbar">
  <ul>
    <li class="layouts-navbar home-link">
      <a href="<%= root_path %>">Open Flashcard</a>
    </li>
    <li class="layouts-navbar session-links">
      <a href="<%= session_signup_path %>">Signup</a>
    </li>
    <li class="layouts-navbar session-links">
      <a href="<%= session_login_path %>">Login</a>
    </li>
  </ul>
</nav>